APP_NAME=siCare
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sicare_db
DB_USERNAME=root
DB_PASSWORD=

# Session Configuration (Options: hybrid, database, redis)
SESSION_DRIVER=hybrid

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

