APP_NAME=siCare
APP_ENV=local
APP_VERSION=local-26.06.00025
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sicare_db
DB_USERNAME=root
DB_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

APP_TIMEZONE=Asia/Jakarta

# Session Configuration (Options: hybrid, database, redis)
SESSION_DRIVER=hybrid

# Redis Configuration (Used for session storage and caching if active)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Security Keys
JWT_SECRET=
