<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent directory listing
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Forward all requests to the public/ directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
